@font-face {
  font-family: "Argesta";
  src: 
    url("argestadisplay-regular-webfont.ttf")
    format('truetype'); 
}

body {
  padding-top: 30px;
  margin: auto;
  width: 40%;  
  font-family: "Argesta";
  font-size: 18px; 
  background-color: #f8f0e3; 
}

a:link {
  color: black;
  background-color: transparent;
  text-decoration: none;
}

hr {
  border-top: 0.5px solid black;
  border-bottom: 0.5px solid black; 
}